$primary: #901C1C;
$secondary: #D3573C;
$tertiary: #DB8876;

$checked-color: #079992;
$bg-error: rgba(255,255,255, .6);


$bg-color: #fafafa;
$txt: #525252;
$tag-border: #c4c4c4;
$labels: #312E2E;

$black: #000;
$white: #fff;

$modal-duration: .5s;
$transition-duration: .3s;
