.modal-end {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: none;

  &__close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    border: none;
    width: 42px;
    height: 42px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    &::before,
    &::after {
      position: absolute;
      left: 1.875rem;
      content: " ";
      height: 1.65rem;
      width: 3px;
      background-color: $white;

      @include breakpoint(laptop) {
        height: 2.625rem;
        width: 4px;
      }
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    cursor: pointer;
  }
  &__content {
    box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.25);
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    height: auto;
    width: 90%;
    background-color: $tertiary;
    @include border-radius;
    animation-name: modalOpen;
    animation-duration: $modal-duration;
    padding: 5rem 2rem;

    @include breakpoint(phablet) {
      width: 80%;
      height: unset;
      padding: 5rem;
    }
    @include breakpoint(laptop) {
      width: 41.875rem;
      margin-bottom: 3.75rem;
    }
  }
  &__message {
    font-size: 1.2rem;
    text-align: center;

    @include breakpoint(laptop) {
      font-size: 2rem;
    }
  }
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  display: none;

  &__close-btn {
    position: relative;
    background-color: transparent;
    border: none;
    width: 42px;
    height: 42px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    &::before,
    &::after {
      position: absolute;
      left: 1.875rem;
      content: " ";
      height: 1.65rem;
      width: 3px;
      background-color: $white;

      @include breakpoint(laptop) {
        height: 2.625rem;
        width: 4px;
      }
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    cursor: pointer;
  }
  &__content {
    box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.25);
    @include flexbox;
    @include flex-direction(column);
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: $tertiary;
    @include border-radius;
    min-height: 100%;
    animation-name: modalOpen;
    animation-duration: $modal-duration;

    padding: 1.25rem;

    @include breakpoint(phablet) {
      width: 80%;
      height: unset;
      top: 3.75rem;
    }
    @include breakpoint(laptop) {
      padding: 2.188rem;
      width: 41.875rem;
      margin-bottom: 3.75rem;
    }
  }
  &__header {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
  }
  &__title {
    font-size: 2.25rem;
    line-height: 2.938rem;
    font-weight: 400;
    margin-bottom: 1.25rem;

    @include breakpoint(laptop) {
      font-size: 4rem;
      line-height: 5.25rem;
    }
  }

  &__body {
    .form {
      &__field {
        padding-bottom: 0.625rem;
        position: relative;
      }
      &__label {
        font-size: 1.5rem;
        line-height: 2rem;

        font-weight: 400;
        color: $labels;
        display: block;

        @include breakpoint(laptop) {
          font-size: 2.25rem;
          line-height: 2.938rem;
        }
      }
      &__input {
        width: 100%;
        height: 3.25rem;
        @include border-radius;
        border: 2px solid transparent;
        text-indent: 0.25rem;
        font-size: 1rem;

        &:focus {
          outline: 2px solid $secondary;
        }

        @include breakpoint(laptop) {
          height: 4.25rem;
          padding: 0.5rem 2rem 0.5rem 0.5rem;
        }
        &:is(textarea) {
          height: 11.25rem;
        }
        &[type="checkbox"] {
          display: none;

          & + label {
            display: block;
            cursor: pointer;
            font-size: 1rem;
            line-height: 1.5rem;

            @include breakpoint(laptop) {
              font-size: 1.5rem;
              line-height: 2rem;
            }
          }
        }
        &[type="checkbox"] + label:before {
          content: " ";
          border: 2px solid $primary;
          @include border-radius;
          width: 1.5rem;
          height: 1.5rem;
          padding: 0.1rem 0.8rem;
          margin-right: 1rem;
          vertical-align: bottom;
          transition: $transition-duration;
          background-position: center;

          @include breakpoint(laptop) {
            width: 2rem;
            height: 2rem;
            padding: 0 1rem;
          }
        }
        &[type="checkbox"]:checked + label:before {
          background-color: $primary;
          border-color: $primary;
          background-image: url("../../public/img/g-check.svg");
          background-repeat: no-repeat;

          // color: $white;
          visibility: visible;
        }
      }
      &__btn {
        margin-top: 1rem;

        text-align: center;
        @include breakpoint(laptop) {
          text-align: left;
        }

        .btn {
          padding-left: 3.125rem;
          padding-right: 3.125rem;
          &:hover,
          &:focus,
          &:active {
            background-color: $secondary;
          }
        }
      }
    }
  }
  &__icon {
    position: absolute;
    top: 3rem;
    right: 5px;
    pointer-events: none;
    z-index: 2;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    @include breakpoint(laptop) {
      top: 4.2rem;
    }

    &--success {
      svg {
        path {
          fill: $checked-color;
        }
      }
    }
    &--error {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }
  &__error-message {
    background-color: $bg-error;
    padding-top: 0.5rem;
    display: inline-block;
    padding: 0.1rem 0.3rem;
    @include border-radius;
    color: $primary;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 0.313rem;
    visibility: hidden;

    @include breakpoint(laptop) {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
  }
  .input-error {
    border: 2px solid $primary;
    box-shadow: inset 0px 0px 2px 2px transparent;

    &:focus {
      outline: transparent;
    }
  }
  .input-valid {
    border: 2px solid $checked-color;
    box-shadow: inset 0px 0px 2px 0px $checked-color;

    &:focus {
      outline: transparent;
    }
  }
}
