.gallery {
  .sorting {
    display: none;
    position: relative;

    @include breakpoint(laptop) {
      @include flexbox;
      @include flex-flow(row nowrap);
      @include align-items(center);
      width: 100%;
      margin-bottom: 3.75rem;

      &__label {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin-right: 1rem;
      }
      &__list,
      &__button {
        background-color: $primary;
        border: none;
        color: $white;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.5rem;
        @include border-radius;
        padding: 0 3rem 0 0.625rem;
      }
      &__button {
        //~170px
        width: 10.625rem;
        position: relative;
        height: 3.75rem;
        padding: 0 1.5rem;

        @include flexbox;
        @include align-items(center);

        &:active,
        &:focus {
          svg {
            path {
              transform: rotate(-180deg);
              transform-origin: 50% 50%;
            }
          }
        }
        svg {
          position: absolute;
          right: 1rem;
          width: 1rem;
          height: 1rem;
          transform: rotate(180deg);
          transform-origin: 50% 50%;
        }
      }
      &__list {
        display: none;
        list-style: none;
        width: 10.625rem;
        position: absolute;
        top: 0;
      }

      .dropdown {
        position: relative;
        cursor: pointer;

        &__toggle {
          cursor: pointer;
          position: relative;
          appearance: none;
          height: 3.75rem;
          width: 10.625rem;
          color: $white;
          font-weight: 500;
          font-size: 1.125rem;
          line-height: 3.75rem;
          padding: 0 0.875rem;
          background-color: $primary;
          border-radius: 5px;
          border: none;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:hover {
            color: $tertiary;
          }
          &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 11'%3E%3Cpath d='M1.88 10.547L8 4.44l6.12 6.107L16 8.667l-8-8-8 8 1.88 1.88z' fill='%23fff' /%3E%3C/svg%3E");
            width: 1rem;
            position: absolute;
            top: 35%;
            transform: rotate(180deg);
            right: 0.8rem;
            height: 1rem;
            background-repeat: no-repeat;
          }

          &.active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: rgba($white, .3);

            &::after {
              transform: rotate(0deg);
            }
          }
        }

        &__menu {
          position: absolute;
          top: 60px;
          left: 0;
          right: 0;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          list-style: none;
          background-color: $primary;
          visibility: hidden;
          overflow: auto;

          &[aria-expanded="true"] {
            visibility: visible;
          }

          &::before {
            content: "";
            background-color: $white;
            height: 1px;
            position: absolute;
            top: 0;
            right: 0.875rem;
            left: 0.875rem;
          }

          li {
            color: $white;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 3.75rem;
            padding: 0 1.25rem;
            text-align: left;
            height: 3.75rem;
            position: relative;
            z-index: 1;

            &:hover {
              cursor: pointer;
              color: $tertiary;
            }

            &:first-child {
              &::after {
                content: none;
              }
            }

            &::after {
              content: "";
              background-color: $white;
              height: 1px;
              position: absolute;
              top: 0;
              right: 0.875rem;
              left: 0.875rem;
            }
          }
        }
      }
    }
  }
  &__list {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(center);
    gap: 1rem;

    @include breakpoint(tablet) {
      @include justify-content(space-around);
    }

    // @include breakpoint(laptop) {
    //   @include justify-content(space-around);
    // }
    @include breakpoint(l_desktop) {
      @include justify-content(space-between);
    }

    .item {
      width: 100%;
      margin-bottom: 0.625rem;
      animation: 0.6s zoom-in;

      @include breakpoint(phablet) {
        margin-bottom: 1.875rem;
      }
      @include breakpoint(tablet) {
        //~350px
        max-width: 19.875rem;
      }
      @include breakpoint(laptop) {
        //~350px
        max-width: 21.875rem;
      }
      //item media
      &__media {
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        //~190px
        height: 11.875rem;

        @include breakpoint(phablet) {
          //~300px
          height: 18.75rem;
        }
      }
      &__figure {
        height: 100%;
        @include flexbox;
        @include flex-flow(column nowrap);
        @include justify-content(space-between);
      }
      &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @include border-radius;
        overflow: hidden;
        background-color: $tertiary;
      }
      &__video {
        object-fit: cover;
        height: 100%;
        width: 100%;
        @include border-radius;
      }
      //item meta description
      &__meta {
        @include flexbox;
        @include flex-flow(row nowrap);
        padding-top: 10px;
      }
      &__title {
        @include flex-grow(1);
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
      }
      &__title,
      &__price,
      .likes__counter {
        color: $primary;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.125rem;

        @include breakpoint(laptop) {
          font-size: 1.125rem;
          line-height: 1.5rem;
        }
      }
      &__price {
        margin-right: 1rem;
        font-weight: 500;
      }
      .likes {
        @include flexbox;
        @include align-items(flex-start);

        &__counter {
          font-weight: 500;
        }

        &__icon {
          //btn reset
          background-color: transparent;
          border: none;
          padding: 0;

          @include flexbox;
          @include align-items(center);
          margin-left: 0.438rem;
          fill: transparent;
          stroke: $primary;
          stroke-width: 2px;
          cursor: pointer;
          position: relative;
          width: 1.125rem;
          height: 1.125rem;

          @include breakpoint(laptop) {
            margin-top: 3px;
          }

          svg {
            overflow: visible;
            // width: 0.875rem;
            // height: 0.875rem;
          }
          path {
            stroke-dashoffset: 0;
            stroke-dasharray: 1550;
            transform-origin: center;
          }
          .heart-background {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            stroke: none;
          }
          // &:hover {
          //   .heart-background {
          //     path {
          //       fill: $secondary;
          //     }
          //   }
          // }
          // &:focus,
          &:active,
          &:hover {
            .heart-main {
              path {
                animation: heart-stroke-animation 1.5s ease-in-out forwards;
              }
              & ~ .heart-background {
                path {
                  animation: heart-fade-animation 1.5s ease-in-out forwards;
                }
              }
            }
          }

          &.hasBeenliked {
            .heart-main {
              path {
                fill: $primary;
              }
            }
          }
        }
      }
    }
  }
}
