.photographer {
  padding: 0 0.625rem;

  // &:hover {
  //   .photographer__link {
  //     box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  //   }
  // }

  &:first-child {
    .photographer__link {
      margin-top: 1.875rem;

      @include breakpoint(laptop) {
        margin-top: unset;
      }
    }
  }
  margin: auto;
  min-width: 33%;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);

  &__link {
    text-decoration: none;
    margin-top: 1.875rem;

    .photographer__figure {
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.25rem;
      @include rounded-profil-img;

      img {
        object-fit: cover;
        transform: scale(1.1);
        height: 100%;
        width: 100%;
        transition: $transition-duration ease-in-out;
      }
    }
    &:hover {
      .photographer__figure {
        img {
          transform: scale(1);
        }
      }
    }
  }
  &__figure{
    //safari fix
    transform: translateZ(0)
  }
  &__image{
    background-color: $tertiary;
  }
  &__name {
    @include photographer-name;
  }
  &__location {
    @include photographer-location;
  }
  &__baseline {
    @include photographer-baseline;
  }
  &__price {
    @include photographer-price;
  }
  .tags {
    @include flexbox;
    @include flex-flow(row nowrap);
    margin-bottom: 1.875rem;
  }
}
