html {
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
}
.hidden {
  display: none;
}
.unvisible {
  visibility: hidden;
}
.visible {
  visibility: visible !important;
}
.error-message {
  text-align: center;
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);
  font-size: 1.2rem;
  color: $txt;

  &::before {
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: url("../../public/img/o-warning.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
  }
}
#scroll-to-main{
    display: none;
  }
