@keyframes modalOpen {
    from {
      opacity: 0;
      transform: translateY(150px);
    }
    to {
      opacity: 1;
    }
  }

  @keyframes heart-stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: $primary;
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: $primary;
    }
  }
  @keyframes heart-fade-animation {
    70% {
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: lighten($primary, 50);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }
