$primary: #901C1C;
$secondary: #D3573C;
$tertiary: #DB8876;

$error-color: #ff4e60;
$checked-color: #279e7a;


$bg-color: #fafafa;
$txt: #757575;
$tag-border: #c4c4c4;
$labels: #312E2E;

$black: #000;
$white: #fff;

$modal-duration: .5s;
$transition-duration: .3s;
