.tags {
  .tags__item {
    margin-right: 0.188rem;
    margin-bottom: 0.375rem;

    @include breakpoint(laptop) {
      margin-right: 0.313rem;
    }
    a:not(.selected) {
      font-size: 0.75rem;
      line-height: 1rem;
      color: $primary;
      border: 1px solid $tag-border;
      border-radius: 12px;
      transition: 0.3s;
      text-decoration: none;
      padding: 0 0.438rem;
      a {
        &:hover,
        &:focus,
        &:active {
          color: $white;
          background-color: $primary;
        }
      }
    }
    &.selected {
      a,
      a:hover,
      a:focus,
      a:active {
        color: $white;
        background-color: $primary;
      }
    }

    
  }
}
.photographer__tags {
  .tags__item {
    font-size: 0.75rem;
    line-height: 1rem;
    color: $primary;
    border: 1px solid $tag-border;
    border-radius: 12px;
    transition: 0.3s;
    text-decoration: none;
    padding: 0 0.438rem;
  }
}
